<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
<header th:fragment="menu">
    <!-- links -->
        <link rel="stylesheet" th:href="@{/css/main.css}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!-- end links -->
    <a th:href="@{/}" class="logo"><i class="fas fa-utensils"></i>Brasil Burger.</a>
    <nav class="navbar">
        <a class="active" th:href="@{/catalogue}">Catalogue</a>
        <a th:href="@{/produit/list}">Produit</a>
        <a href="#about">A propos</a>
    </nav>
    <div class="icons flex">
        <i class="fas fa-bars" id="menu-bars"></i>
        <div class="dropdown">
            <a class="fas fa-user "></a>
            <ul class="dropdown-menu absolute hidden  pt-2">
                <li class="sign"><a th:href="@{/connexion}">Connexion</a></li>
                <li class="sign"><a th:href="@{/client/new}">Créer un compte</a></li>
            </ul>
        </div>
        <a href="#order" class="fas fa-map-marker-alt"></a>
        <a th:href="@{/showpanier}" class="fas fa-cart-arrow-down">
            <p id="compteur">1</p>
        </a>
    </div>
</header>

</body>
</html>
