<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>

<!-- header section starts      -->
    <div th:replace="inc/menu :: menu"></div>
<!-- header section ends-->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">

            <div class="swiper-slide slide" >
                <div class="content">
                    <span>notre special buger </span>
                    <h3>cheese burger</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                    </p>                </div>
                <div class="image">
                    <img src="images/about5.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>notre special buger </span>
                    <h3>cheese burger</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                    </p>
                </div>
                <div class="image">
                    <img src="images/about7.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>notre special buger </span>
                    <h3>cheese burger</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?
                    </p>                </div>
                <div class="image">
                    <img src="images/about2.png" alt="">
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>

</section>
<!-- home section ends -->

<!-- menu section starts  -->

    <section class="menu" id="menu">
        <h3 class="sub-heading" th:if="${#lists.isEmpty(burgers)}">Aucun produit</h3>

        <h3 class="sub-heading" th:if="${not #lists.isEmpty(burgers)}" style="font-size: 3.5rem"> Notre menu </h3>
        <div class="flex justify-center items-center pb-24 pt-4" th:if="${not #lists.isEmpty(burgers)}">
            <ul class="flex justify-between">
                <li class="filtre active" id="burgerbutton">Burger</li>
                <li class="filtre" id="menubutton">Menu</li>
                <li class="filtre">
                    Prix
                    <select name="" id="prix">
                        <option value="">2000</option>
                    </select>
                </li>
            </ul>
        </div>

        <div class="box-container" id="burgerContent">
            <th:block  th:each="burger: ${burgers}">
                <div class="box shadow-lg" data-aos="zoom-in" data-aos-delay="150">
                    <div class="image">
                        <span href="#" class="prix" th:text="@{${burger.produitAttributes.prix+' F'}}"></span>
                        <img th:src="@{${'/upload/'+burger.image.id+'/'+burger.image.nom}}" alt="">
                        <h3 th:text="${burger.produitAttributes.nom}" class="price mt-3"></h3>
                    </div>
                    <div class="content">
                        <div class="flex justify-between w-full">
                            <a  th:href="@{'/produit/'+${burger.class.simpleName}+'/panier/add/'+${burger.id}}" class="btn-cart add-cart"><i class="fas fa-cart-plus"></i></a>
                            <a  th:href="@{'/produit/'+${burger.class.simpleName}+'/details/'+${burger.id}}" class="btn-cart"> Détails </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="box-container" id="menuContent" style="display: none">
            <th:block  th:each="burger: ${menus}">
                <div class="box shadow-lg" >
                    <div class="image">
                        <span href="#" class="prix" th:text="@{${burger.produitAttributes.prix+' F'}}"></span>
                        <img th:src="@{${'/upload/'+burger.image.id+'/'+burger.image.nom}}" alt="">
                        <h3 th:text="@{${burger.class.simpleName}+' '+${burger.produitAttributes.nom}}" class="price mt-3"></h3>
                    </div>
                    <div class="content">
                        <div class="flex justify-between w-full">
                            <a  th:href="@{'/produit/'+${burger.class.simpleName}+'/panier/add/'+${burger.id}}" class="btn-cart add-cart"><i class="fas fa-cart-plus"></i></a>
                            <a  th:href="@{'/produit/'+${burger.class.simpleName}+'/details/'+${burger.id}}" class="btn-cart"> Détails </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

    </section>

<!-- menu section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h3 class="sub-heading"> A propos de nous </h3>
    <h1 class="heading"> Pourquoi choisir Brasil Burger? </h1>

    <div class="row">

        <div class="image">
            <img src="images/about4.png" alt="">
        </div>

        <div class="content">
            <h3>Les meilleurs burger du pays</h3>
            <p>
                Manger de bons hamburgers à Dakar n’est pas une des choses les plus simples. Brasil Burger est donc l'endroits où l’on mange les meilleurs burgers de la capitale
                Avoir une excellente présentation, un sens du contact avec la clientèle, être rapide et réactif en période d'affluence, tels sont les atouts de Brasil Burger.
            </p>
            <p>
                Faites-vous plaisir chez Brasil Burger!
            </p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-shipping-fast"></i>
                    <span >Livraison rapide</span>
                </div>
                <div class="icons">
                    <i class="fas fa-dollar-sign"></i>
                    <span>Payement facile</span>
                </div>
                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <span>Disponible 24/7</span>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- about section ends -->


<!-- order section starts  -->

<section class="order" id="order">
    <h1 class="heading"> Nous trouver </h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.2647895113964!2d-17.46090388515866!3d14.697612289740754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1731b671f24c7%3A0xd3bb7eae885f9e94!2sBrasil%20Burger%20Senegal!5e0!3m2!1sfr!2ssn!4v1659749962211!5m2!1sfr!2ssn" height="600" style="border:0; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<!-- order section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="credit"> copyright @ 2021 by <span>Imam</span> </div>

</section>

<!-- footer section ends -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script type="text/javascript" th:src="@{/js/panier.js}"></script>
<script type="text/javascript" th:src="@{/js/catalogue.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

<script> AOS.init({duration: 800,});</script></body>
</html>